app/jade/includes/career-popup.jade
form.career-popup
    div.career-popup__close
        img(src="images/close.svg" alt="Закрыть")
    div.career-popup__header Откликнуться на вакансию
    div.career-popup__post топ менеджер
    div.career-popup__necessary Обязательно к заполнению
    div.consultation__input-container
        input.consultation__input(name="careername" placeholder="Имя")
    div.consultation__input-container
        input.consultation__input(name="careerphone" placeholder="Номер телефона")
    div.consultation__input-container
        input.consultation__input(name="careeremail" placeholder="Email")
    div.career-popup__summary-row
        div.career-popup__summary-text Прикрепить резюме
        label.career-popup__summary-label(for="summary") Обзор
        input(type="file" id="summary")
        div.clear
    textarea.consultation__input.consultation__input--textarea(name="career-textarea") Сообщение
    button.green-button.green-button--career Отправить

app/includes/career-popup.html
<form class="career-popup"><div class="career-popup__close"><img src="images/close.svg" alt="Закрыть"/></div><div class="career-popup__header">Откликнуться на вакансию</div><div class="career-popup__post">топ менеджер</div><div class="career-popup__necessary">Обязательно к заполнению</div><div class="consultation__input-container"><input name="careername" placeholder="Имя" class="consultation__input"/></div><div class="consultation__input-container"><input name="careerphone" placeholder="Номер телефона" class="consultation__input"/></div><div class="consultation__input-container"><input name="careeremail" placeholder="Email" class="consultation__input"/></div><div class="career-popup__summary-row"><div class="career-popup__summary-text">Прикрепить резюме</div><label for="summary" class="career-popup__summary-label">Обзор</label><input type="file" id="summary"/><div class="clear"></div></div><textarea name="career-textarea" class="consultation__input consultation__input--textarea">Сообщение</textarea><button class="green-button green-button--career">Отправить</button></form>
