app/jade/includes/consultation.jade
form.consultation
    div.consultation__close
        img(src="images/close.svg" alt="Закрыть")
    div.consultation__header Получить консультацию у специалиста
    div.consultation__text Мы можем позвонить вам абсолютно бесплатно!
    div.consultation__necessary Обязательно к заполнению
    div.consultation__input-container
        input.consultation__input(name="name" placeholder="Имя")
    div.consultation__input-container
        input.consultation__input(name="phone" placeholder="Номер телефона") 
    div.consultation__input-container
        input.consultation__input(name="city" placeholder="Город") 
    div.consultation__input-container
        div.consultation__select
            input.consultation__input.consultation__input--select(name="time" placeholder="Удобное время для звонка") 
            div.consultation__select-arrow
                img.consultation__select-arrow-image(src="images/select-bottom.svg" alt="Стрелочка")
            ul.consultation__select-variants
                li.consultation__select-variants-li Через 1 час
                li.consultation__select-variants-li Через 2 часа
                li.consultation__select-variants-li Через 3 часа
    textarea.consultation__input.consultation__input--textarea Сообщение
    button.green-button.green-button--consultation Отправить

app/includes/consultation.html
<form class="consultation"><div class="consultation__close"><img src="images/close.svg" alt="Закрыть"/></div><div class="consultation__header">Получить консультацию у специалиста</div><div class="consultation__text">Мы можем позвонить вам абсолютно бесплатно!</div><div class="consultation__necessary">Обязательно к заполнению</div><div class="consultation__input-container"><input name="name" placeholder="Имя" class="consultation__input"/></div><div class="consultation__input-container"><input name="phone" placeholder="Номер телефона" class="consultation__input"/></div><div class="consultation__input-container"><input name="city" placeholder="Город" class="consultation__input"/></div><div class="consultation__input-container"><div class="consultation__select"><input name="time" placeholder="Удобное время для звонка" class="consultation__input consultation__input--select"/><div class="consultation__select-arrow"><img src="images/select-bottom.svg" alt="Стрелочка" class="consultation__select-arrow-image"/></div><ul class="consultation__select-variants"><li class="consultation__select-variants-li">Через 1 час</li><li class="consultation__select-variants-li">Через 2 часа</li><li class="consultation__select-variants-li">Через 3 часа</li></ul></div></div><textarea class="consultation__input consultation__input--textarea">Сообщение</textarea><button class="green-button green-button--consultation">Отправить</button></form>
