app/includes/footer-index.html
<div class="footer"><div class="footer__info footer__into--index"><div class="wrapper"><div class="footer__line"> </div><div class="footer__links-container"><a href="javascript:void(0);" class="footer__link">Главная</a><a href="javascript:void(0);" class="footer__link">О компании</a><a href="javascript:void(0);" class="footer__link">Продукция</a><a href="javascript:void(0);" class="footer__link">Услуги</a><a href="javascript:void(0);" class="footer__link">Библиотека</a><a href="javascript:void(0);" class="footer__link">События</a><a href="javascript:void(0);" class="footer__link">Загрузки</a><a href="javascript:void(0);" class="footer__link">Контакты</a><a href="tel:+74959393592" class="footer__link-phone">+(495) 939-35-92 </a><div class="clear"></div><a href="mailto:inumit@info.ru" class="footer__link-email">inumit@info.ru</a><div class="clear"></div></div><div class="footer__row footer__row--index"><div class="footer__top"><img src="images/top.svg" alt="Наверх" class="footer__top-image footer__top-image-normal"/><img src="images/top-hover.svg" alt="Наверх" class="footer__top-image footer__top-image-hover"/></div><div class="footer__social"><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--twitter"><img src="images/twitter.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter"/><img src="images/twitter-hover.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter-hover"/></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--facebook"><img src="images/facebook.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook"/><img src="images/facebook-hover.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook-hover"/></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--vk"><img src="images/vk.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk"/><img src="images/vk-hover.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk-hover"/></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--instagram"><img src="images/instagram.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-normal"/><img src="images/instagram-hover.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-hover"/></a><div class="clear"></div></div><form class="footer__subscribe"><div class="footer__subscribe-text">Подписаться на рассылку</div><input placeholder="E-mail" class="footer__subscribe-input"/><button class="footer__subscribe-button">Отправить</button><div class="clear"></div></form><div class="footer__column-right"><div class="footer__copyright">© 2016 Itecma все права защищены</div><div class="footer__netlab">Разработка сайта <a href="javascript:void(0);" class="footer__netlab-link">Netlab</a></div></div><div class="clear"></div></div></div></div></div>

app/jade/includes/footer-index.jade
div.footer
    div.footer__info.footer__into--index
        div.wrapper
            div.footer__line  
            div.footer__links-container
                a.footer__link(href="javascript:void(0);") Главная
                a.footer__link(href="javascript:void(0);") О компании
                a.footer__link(href="javascript:void(0);") Продукция
                a.footer__link(href="javascript:void(0);") Услуги
                a.footer__link(href="javascript:void(0);") Библиотека
                a.footer__link(href="javascript:void(0);") События
                a.footer__link(href="javascript:void(0);") Загрузки
                a.footer__link(href="javascript:void(0);") Контакты
                a.footer__link-phone(href="tel:+74959393592") +(495) 939-35-92 
                div.clear
                a.footer__link-email(href="mailto:inumit@info.ru") inumit@info.ru
                div.clear
            div.footer__row.footer__row--index
                div.footer__top
                    img.footer__top-image.footer__top-image-normal(src="images/top.svg" alt="Наверх")
                    img.footer__top-image.footer__top-image-hover(src="images/top-hover.svg" alt="Наверх")
                div.footer__social
                    a.footer__social-icon.footer__social-icon--twitter(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--twitter(src="images/twitter.svg" alt="твиттер")
                        img.footer__social-icon-image.footer__social-icon-image--twitter-hover(src="images/twitter-hover.svg" alt="твиттер")
                    a.footer__social-icon.footer__social-icon--facebook(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--facebook(src="images/facebook.svg" alt="фейсбук")
                        img.footer__social-icon-image.footer__social-icon-image--facebook-hover(src="images/facebook-hover.svg" alt="фейсбук")
                    a.footer__social-icon.footer__social-icon--vk(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--vk(src="images/vk.svg" alt="вконтакте")
                        img.footer__social-icon-image.footer__social-icon-image--vk-hover(src="images/vk-hover.svg" alt="вконтакте")
                    a.footer__social-icon.footer__social-icon--instagram(href="javascript:void(0);")
                        img.footer__social-icon-image.footer__social-icon-image--instagram-normal(src="images/instagram.svg" alt="инстаграм") 
                        img.footer__social-icon-image.footer__social-icon-image--instagram-hover(src="images/instagram-hover.svg" alt="инстаграм")              
                    div.clear
                form.footer__subscribe
                    div.footer__subscribe-text Подписаться на рассылку
                    input.footer__subscribe-input(placeholder="E-mail")
                    button.footer__subscribe-button Отправить
                    div.clear
                div.footer__column-right
                    div.footer__copyright © 2016 Itecma все права защищены
                    div.footer__netlab
                        | Разработка сайта 
                        a.footer__netlab-link(href="javascript:void(0);") Netlab
                div.clear
