app/includes/header.html
<div class="header__main-container"><div class="wrapper wrapper--header-main-container"><div class="header-logo"><a href="index.html" class="header__logo"><img src="images/logo.png" alt="logo"/></a></div><div class="header"><div class="wrapper">       <div class="header__menu-container"><div class="header__menu"><div class="header__menu-block-container"></div><div class="header__menu-hamburger"><div class="header__menu-hamburger-line header__menu-hamburger-line--1"></div><div class="header__menu-hamburger-line header__menu-hamburger-line--2"></div><div class="header__menu-hamburger-line"></div></div><div class="header__menu-text">Меню </div></div><div class="header__guide">Путеводитель по материалам</div><div class="header__phone"><img src="images/phone.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--normal"/><img src="images/phone-hover.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--hover"/></div><div class="header__search"><img src="images/search.svg" alt="Поиск" class="header__search-image header__search-image--normal"/><img src="images/search-hover.svg" alt="Поиск" class="header__search-image header__search-image--hover"/></div><div class="clear">                       </div></div><div class="clear"></div></div></div></div></div>

app/jade/includes/header.jade
div.header__main-container
    div.wrapper.wrapper--header-main-container
        div.header-logo
            a.header__logo(href="index.html")
                img(src="images/logo.png" alt="logo") 

        div.header
            div.wrapper        
                div.header__menu-container
                    div.header__menu
                        div.header__menu-block-container
                        div.header__menu-hamburger
                            div.header__menu-hamburger-line.header__menu-hamburger-line--1
                            div.header__menu-hamburger-line.header__menu-hamburger-line--2
                            div.header__menu-hamburger-line
                        div.header__menu-text Меню 
                    div.header__guide Путеводитель по материалам
                    div.header__phone
                        img.header__phone-image.header__phone-image--normal(src="images/phone.svg" alt="Проконсультироваться")
                        img.header__phone-image.header__phone-image--hover(src="images/phone-hover.svg" alt="Проконсультироваться")
                    div.header__search
                        img.header__search-image.header__search-image--normal(src="images/search.svg" alt="Поиск")
                        img.header__search-image.header__search-image--hover(src="images/search-hover.svg" alt="Поиск")
                    div.clear                        
                div.clear
