app/includes/right-menu.html
<ul class="right-menu"><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link right-menu__link--active">О нас</a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link">Вакансии</a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link">Команда</a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link">Фотогалерея</a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link">История компании</a></li></ul>

app/jade/includes/right-menu.jade
ul.right-menu
    li.right-menu__li
        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") О нас
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") Вакансии
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") Команда
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") Фотогалерея
    li.right-menu__li
        a.right-menu__link(href="javascript:void(0);") История компании
