app/career.html
<!DOCTYPE html><html><head><title>ITECMA | Вакансии</title><meta name="description" content=""><meta name="keywords" content=""><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/company.css"><link rel="stylesheet" href="css/index.css"><script src="js/libs.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script></head><body><!--img(src="images/career.jpg" alt="index" style="position: absolute; margin-left: 137px; top: 0; z-index: 1; opacity: .5;")--><!--img(src="images/career-popup.jpg" alt="index" style="position: absolute; margin-left: 375px; top: 110px; z-index: 1; opacity: .5;")--><div class="header__main-container"><div class="wrapper wrapper--header-main-container"><div class="header-logo"><a href="index.html" class="header__logo"><img src="images/logo.png" alt="logo"></a></div><div class="header"><div class="wrapper">       <div class="header__menu-container"><div class="header__menu"><div class="header__menu-block-container"></div><div class="header__menu-hamburger"><div class="header__menu-hamburger-line header__menu-hamburger-line--1"></div><div class="header__menu-hamburger-line header__menu-hamburger-line--2"></div><div class="header__menu-hamburger-line"></div></div><div class="header__menu-text">Меню </div></div><div class="header__guide">Путеводитель по материалам</div><div class="header__phone"><img src="images/phone.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--normal"><img src="images/phone-hover.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--hover"></div><div class="header__search"><img src="images/search.svg" alt="Поиск" class="header__search-image header__search-image--normal"><img src="images/search-hover.svg" alt="Поиск" class="header__search-image header__search-image--hover"></div><div class="clear">                       </div></div><div class="clear"></div></div></div></div></div><div class="header-video"><video loop muted autoplay poster="video/video.jpg" class="header-video__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><div class="right-bg-doodle"></div><form class="consultation"><div class="consultation__close"><img src="images/close.svg" alt="Закрыть"></div><div class="consultation__header">Получить консультацию у специалиста</div><div class="consultation__text">Мы можем позвонить вам абсолютно бесплатно!</div><div class="consultation__necessary">Обязательно к заполнению</div><div class="consultation__input-container"><input name="name" placeholder="Имя" class="consultation__input"></div><div class="consultation__input-container"><input name="phone" placeholder="Номер телефона" class="consultation__input"></div><div class="consultation__input-container"><input name="city" placeholder="Город" class="consultation__input"></div><div class="consultation__input-container"><div class="consultation__select"><input name="time" placeholder="Удобное время для звонка" class="consultation__input consultation__input--select"><div class="consultation__select-arrow"><img src="images/select-bottom.svg" alt="Стрелочка" class="consultation__select-arrow-image"></div><ul class="consultation__select-variants"><li class="consultation__select-variants-li">Через 1 час</li><li class="consultation__select-variants-li">Через 2 часа</li><li class="consultation__select-variants-li">Через 3 часа</li></ul></div></div><textarea class="consultation__input consultation__input--textarea">Сообщение</textarea><button class="green-button green-button--consultation">Отправить</button></form><div class="black-bg"></div><form class="career-popup"><div class="career-popup__close"><img src="images/close.svg" alt="Закрыть"></div><div class="career-popup__header">Откликнуться на вакансию</div><div class="career-popup__post">топ менеджер</div><div class="career-popup__necessary">Обязательно к заполнению</div><div class="consultation__input-container"><input name="careername" placeholder="Имя" class="consultation__input"></div><div class="consultation__input-container"><input name="careerphone" placeholder="Номер телефона" class="consultation__input"></div><div class="consultation__input-container"><input name="careeremail" placeholder="Email" class="consultation__input"></div><div class="career-popup__summary-row"><div class="career-popup__summary-text">Прикрепить резюме</div><label for="summary" class="career-popup__summary-label">Обзор</label><input type="file" id="summary"><div class="clear"></div></div><textarea name="career-textarea" class="consultation__input consultation__input--textarea">Сообщение</textarea><button class="green-button green-button--career">Отправить</button></form><div class="main-block"><div class="main-block__column-left main-block__column"><div class="main-block__content">               <div class="company__breadcrumbs">Главная - О компании - Вакансии</div><h1 class="company__h1">О компании</h1><h2 class="company__h2 company__h2--career">Вакансии </h2><div class="vacancy"><div class="vacancy__header">Топ менеджер</div><div class="vacancy__text">Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».</div><div class="vacancy__bottom"><a href="javascript:void(0);" class="vacancy__link">Подробнее о вакансии</a><button class="vacancy__button green-button">Откликнуться на вакансию</button><div class="clear"> </div></div></div><div class="vacancy"><div class="vacancy__header">Топ менеджер</div><div class="vacancy__text">Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».</div><div class="vacancy__bottom"><a href="javascript:void(0);" class="vacancy__link">Подробнее о вакансии</a><button class="vacancy__button green-button">Откликнуться на вакансию</button><div class="clear"> </div></div></div><div class="vacancy"><div class="vacancy__header">Топ менеджер</div><div class="vacancy__text">Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».</div><div class="vacancy__bottom"><a href="javascript:void(0);" class="vacancy__link">Подробнее о вакансии</a><button class="vacancy__button green-button">Откликнуться на вакансию</button><div class="clear"> </div></div></div><div class="navigation navigation--vacancy"><a href="javascript:void(0);" class="navigation__page"> <span class="navigation__page-span">1</span></a><a href="javascript:void(0);" class="navigation__page"> <span class="navigation__page-span">2</span></a><a href="javascript:void(0);" class="navigation__page navigation__page--active"> <span class="navigation__page-span">3</span></a><a href="javascript:void(0);" class="navigation__page"> <span class="navigation__page-span">4</span></a><a href="javascript:void(0);" class="navigation__page navigation__page--dots">...</a><a href="javascript:void(0);" class="navigation__page"> <span class="navigation__page-span">14</span></a><a class="navigation__next-page">Следующая страница</a><div class="clear"></div></div></div><div class="clear"></div></div><div class="main-block__column-right main-block__column"><ul class="right-menu"><li class="right-menu__li"><a href="company.html" class="right-menu__link">О нас</a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link right-menu__link--active">Вакансии</a></li><li class="right-menu__li"><a href="team.html" class="right-menu__link">Команда</a></li><li class="right-menu__li"><a href="company-gallery.html" class="right-menu__link">Фотогалерея </a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link">История компании</a></li></ul></div><div class="clear"></div></div><div class="footer"><div class="footer__info"><div class="wrapper"><div class="footer__links-container"><a href="javascript:void(0);" class="footer__link">Главная</a><a href="javascript:void(0);" class="footer__link">О компании</a><a href="javascript:void(0);" class="footer__link">Продукция</a><a href="javascript:void(0);" class="footer__link">Услуги</a><a href="javascript:void(0);" class="footer__link">Библиотека</a><a href="javascript:void(0);" class="footer__link">События</a><a href="javascript:void(0);" class="footer__link">Загрузки</a><a href="javascript:void(0);" class="footer__link">Контакты</a><a href="tel:+74959393592" class="footer__link-phone">+(495) 939-35-92 </a><div class="clear"></div><a href="mailto:inumit@info.ru" class="footer__link-email">inumit@info.ru</a><div class="clear"></div></div><div class="footer__row"><div class="footer__top"><img src="images/top.svg" alt="Наверх" class="footer__top-image footer__top-image-normal"><img src="images/top-hover.svg" alt="Наверх" class="footer__top-image footer__top-image-hover"></div><div class="footer__social"><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--twitter"><img src="images/twitter.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter"><img src="images/twitter-hover.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--facebook"><img src="images/facebook.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook"><img src="images/facebook-hover.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--vk"><img src="images/vk.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk"><img src="images/vk-hover.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--instagram"><img src="images/instagram.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-normal"><img src="images/instagram-hover.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-hover"></a><div class="clear"></div></div><form class="footer__subscribe"><div class="footer__subscribe-text">Подписаться на рассылку</div><input placeholder="E-mail" class="footer__subscribe-input"><button class="footer__subscribe-button">Отправить</button><div class="clear"></div></form><div class="footer__column-right"><div class="footer__copyright">© 2016 Itecma все права защищены</div><div class="footer__netlab">Разработка сайта <a href="javascript:void(0);" class="footer__netlab-link">Netlab</a></div></div><div class="clear"></div></div></div></div><video loop muted autoplay poster="video/video.jpg" class="footer__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><script src="js/index.js"></script><script src="js/career.js"></script></body></html>

app/jade/career.jade
doctype html
html
    head
        title ITECMA | Вакансии
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/career.jpg" alt="index" style="position: absolute; margin-left: 137px; top: 0; z-index: 1; opacity: .5;")
        //img(src="images/career-popup.jpg" alt="index" style="position: absolute; margin-left: 375px; top: 110px; z-index: 1; opacity: .5;")
        
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle
        include includes/consultation
        include includes/black-bg 
        include includes/career-popup

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.company__breadcrumbs Главная - О компании - Вакансии
                    h1.company__h1 О компании
                    h2.company__h2.company__h2--career Вакансии 
                    div.vacancy
                        div.vacancy__header Топ менеджер
                        div.vacancy__text Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                        div.vacancy__bottom
                            a.vacancy__link(href="javascript:void(0);") Подробнее о вакансии
                            button.vacancy__button.green-button Откликнуться на вакансию
                            div.clear 
                    div.vacancy
                        div.vacancy__header Топ менеджер
                        div.vacancy__text Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                        div.vacancy__bottom
                            a.vacancy__link(href="javascript:void(0);") Подробнее о вакансии
                            button.vacancy__button.green-button Откликнуться на вакансию
                            div.clear 
                    div.vacancy
                        div.vacancy__header Топ менеджер
                        div.vacancy__text Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                        div.vacancy__bottom
                            a.vacancy__link(href="javascript:void(0);") Подробнее о вакансии
                            button.vacancy__button.green-button Откликнуться на вакансию
                            div.clear 
                            
                    div.navigation.navigation--vacancy
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 1
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 2
                        a.navigation__page.navigation__page--active(href="javascript:void(0);") 
                            span.navigation__page-span 3
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 4
                        a.navigation__page.navigation__page--dots(href="javascript:void(0);") ...
                        a.navigation__page(href="javascript:void(0);") 
                            span.navigation__page-span 14
                        a.navigation__next-page Следующая страница
                        div.clear
                div.clear
            div.main-block__column-right.main-block__column
                ul.right-menu
                    li.right-menu__li
                        a.right-menu__link(href="company.html") О нас
                    li.right-menu__li
                        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") Вакансии
                    li.right-menu__li
                        a.right-menu__link(href="team.html") Команда
                    li.right-menu__li
                        a.right-menu__link(href="company-gallery.html") Фотогалерея 
                    li.right-menu__li
                        a.right-menu__link(href="javascript:void(0);") История компании
            div.clear
            
        include includes/footer-video
            
        

        script(src="js/index.js")
        script(src="js/career.js")
