app/jade/company.jade
doctype html
html
    head
        title ITECMA | О компании
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/company.jpg" alt="index" style="position: absolute; margin-left: 92px; top: -284px; z-index: 1; opacity: .5;")
        
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.company__breadcrumbs Главная - О компании - Фотогалерея
                    h1.company__h1 О компании
                    h2.company__h2 О нас
                    p.company__p УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                    p.company__p Институт одним из первых в России реализует на практике идею партнерства крупнейшего научнообразовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.
                    p.company__p ЗАО «ИНУМиТ»  является инициатором и участником ряда крупных инновационных и образовательных проектов государственного значения в области создания в России производства нового поколения конструкционных и теплоогнезащитных материалов (журналы "Инновации" 2009 г., "Атомная стратегия" 2010г.). Успешное развитие института основано на фундаментальном образовании и научной базе МГУ, тесном контакте и партнерстве с НПО УНИХИМТЕК. ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                    p.company__p Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.  Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.
                div.clear
            div.main-block__column-right.main-block__column
                ul.right-menu
                    li.right-menu__li
                        a.right-menu__link.right-menu__link--active(href="javascript:void(0);") О нас
                    li.right-menu__li
                        a.right-menu__link(href="career.html") Вакансии
                    li.right-menu__li
                        a.right-menu__link(href="team.html") Команда
                    li.right-menu__li
                        a.right-menu__link(href="company-gallery.html") Фотогалерея
                    li.right-menu__li
                        a.right-menu__link(href="javascript:void(0);") История компании
            div.clear
            
        include includes/footer-video
            
        

        script(src="js/index.js")

app/company.html
<!DOCTYPE html><html><head><title>ITECMA | О компании</title><meta name="description" content=""><meta name="keywords" content=""><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/company.css"><link rel="stylesheet" href="css/index.css"><script src="js/libs.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script></head><body><!--img(src="images/company.jpg" alt="index" style="position: absolute; margin-left: 92px; top: -284px; z-index: 1; opacity: .5;")--><div class="header__main-container"><div class="wrapper wrapper--header-main-container"><div class="header-logo"><a href="index.html" class="header__logo"><img src="images/logo.png" alt="logo"></a></div><div class="header"><div class="wrapper">       <div class="header__menu-container"><div class="header__menu"><div class="header__menu-block-container"></div><div class="header__menu-hamburger"><div class="header__menu-hamburger-line header__menu-hamburger-line--1"></div><div class="header__menu-hamburger-line header__menu-hamburger-line--2"></div><div class="header__menu-hamburger-line"></div></div><div class="header__menu-text">Меню </div></div><div class="header__guide">Путеводитель по материалам</div><div class="header__phone"><img src="images/phone.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--normal"><img src="images/phone-hover.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--hover"></div><div class="header__search"><img src="images/search.svg" alt="Поиск" class="header__search-image header__search-image--normal"><img src="images/search-hover.svg" alt="Поиск" class="header__search-image header__search-image--hover"></div><div class="clear">                       </div></div><div class="clear"></div></div></div></div></div><div class="header-video"><video loop muted autoplay poster="video/video.jpg" class="header-video__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><div class="right-bg-doodle"></div><div class="main-block"><div class="main-block__column-left main-block__column"><div class="main-block__content">               <div class="company__breadcrumbs">Главная - О компании - Фотогалерея</div><h1 class="company__h1">О компании</h1><h2 class="company__h2">О нас</h2><p class="company__p">УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.</p><p class="company__p">Институт одним из первых в России реализует на практике идею партнерства крупнейшего научнообразовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.</p><p class="company__p">ЗАО «ИНУМиТ»  является инициатором и участником ряда крупных инновационных и образовательных проектов государственного значения в области создания в России производства нового поколения конструкционных и теплоогнезащитных материалов (журналы "Инновации" 2009 г., "Атомная стратегия" 2010г.). Успешное развитие института основано на фундаментальном образовании и научной базе МГУ, тесном контакте и партнерстве с НПО УНИХИМТЕК. ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.</p><p class="company__p">Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.  Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.</p></div><div class="clear"></div></div><div class="main-block__column-right main-block__column"><ul class="right-menu"><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link right-menu__link--active">О нас</a></li><li class="right-menu__li"><a href="career.html" class="right-menu__link">Вакансии</a></li><li class="right-menu__li"><a href="team.html" class="right-menu__link">Команда</a></li><li class="right-menu__li"><a href="company-gallery.html" class="right-menu__link">Фотогалерея</a></li><li class="right-menu__li"><a href="javascript:void(0);" class="right-menu__link">История компании</a></li></ul></div><div class="clear"></div></div><div class="footer"><div class="footer__info"><div class="wrapper"><div class="footer__links-container"><a href="javascript:void(0);" class="footer__link">Главная</a><a href="javascript:void(0);" class="footer__link">О компании</a><a href="javascript:void(0);" class="footer__link">Продукция</a><a href="javascript:void(0);" class="footer__link">Услуги</a><a href="javascript:void(0);" class="footer__link">Библиотека</a><a href="javascript:void(0);" class="footer__link">События</a><a href="javascript:void(0);" class="footer__link">Загрузки</a><a href="javascript:void(0);" class="footer__link">Контакты</a><a href="tel:+74959393592" class="footer__link-phone">+(495) 939-35-92 </a><div class="clear"></div><a href="mailto:inumit@info.ru" class="footer__link-email">inumit@info.ru</a><div class="clear"></div></div><div class="footer__row"><div class="footer__top"><img src="images/top.svg" alt="Наверх" class="footer__top-image footer__top-image-normal"><img src="images/top-hover.svg" alt="Наверх" class="footer__top-image footer__top-image-hover"></div><div class="footer__social"><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--twitter"><img src="images/twitter.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter"><img src="images/twitter-hover.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--facebook"><img src="images/facebook.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook"><img src="images/facebook-hover.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--vk"><img src="images/vk.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk"><img src="images/vk-hover.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--instagram"><img src="images/instagram.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-normal"><img src="images/instagram-hover.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-hover"></a><div class="clear"></div></div><form class="footer__subscribe"><div class="footer__subscribe-text">Подписаться на рассылку</div><input placeholder="E-mail" class="footer__subscribe-input"><button class="footer__subscribe-button">Отправить</button><div class="clear"></div></form><div class="footer__column-right"><div class="footer__copyright">© 2016 Itecma все права защищены</div><div class="footer__netlab">Разработка сайта <a href="javascript:void(0);" class="footer__netlab-link">Netlab</a></div></div><div class="clear"></div></div></div></div><video loop muted autoplay poster="video/video.jpg" class="footer__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><script src="js/index.js"></script></body></html>
