app/index.html
<!DOCTYPE html><html><head><title>ITECMA</title><meta name="description" content=""><meta name="keywords" content=""><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/index.css"><script src="js/libs.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script></head><body><!--img(src="images/index.jpg" alt="index" style="position: absolute; margin-left: 102px; top: 0; z-index: 1; opacity: .5;")--><!--img(src="images/consult.jpg" alt="index" style="position: absolute; margin-left: 194px; top: -53px; z-index: 1; opacity: .5;")--><form class="consultation"><div class="consultation__close"><img src="images/close.svg" alt="Закрыть"></div><div class="consultation__header">Получить консультацию у специалиста</div><div class="consultation__text">Мы можем позвонить вам абсолютно бесплатно!</div><div class="consultation__necessary">Обязательно к заполнению</div><div class="consultation__input-container"><input name="name" placeholder="Имя" class="consultation__input"></div><div class="consultation__input-container"><input name="phone" placeholder="Номер телефона" class="consultation__input"></div><div class="consultation__input-container"><input name="city" placeholder="Город" class="consultation__input"></div><div class="consultation__input-container"><div class="consultation__select"><input name="time" placeholder="Удобное время для звонка" class="consultation__input consultation__input--select"><div class="consultation__select-arrow"><img src="images/select-bottom.svg" alt="Стрелочка" class="consultation__select-arrow-image"></div><ul class="consultation__select-variants"><li class="consultation__select-variants-li">Через 1 час</li><li class="consultation__select-variants-li">Через 2 часа</li><li class="consultation__select-variants-li">Через 3 часа</li></ul></div></div><textarea class="consultation__input consultation__input--textarea">Сообщение</textarea><button class="green-button green-button--consultation">Отправить</button></form><div class="black-bg"></div><div class="first-screen"><div class="first-screen__video-container"><video loop muted autoplay poster="video/video.jpg" class="first-screen__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><div class="header__main-container"><div class="wrapper wrapper--header-main-container"><div class="header-logo"><a href="index.html" class="header__logo"><img src="images/logo.png" alt="logo"></a></div><div class="header"><div class="wrapper">       <div class="header__menu-container"><div class="header__menu"><div class="header__menu-block-container"></div><div class="header__menu-hamburger"><div class="header__menu-hamburger-line header__menu-hamburger-line--1"></div><div class="header__menu-hamburger-line header__menu-hamburger-line--2"></div><div class="header__menu-hamburger-line"></div></div><div class="header__menu-text">Меню </div></div><div class="header__guide">Путеводитель по материалам</div><div class="header__phone"><img src="images/phone.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--normal"><img src="images/phone-hover.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--hover"></div><div class="header__search"><img src="images/search.svg" alt="Поиск" class="header__search-image header__search-image--normal"><img src="images/search-hover.svg" alt="Поиск" class="header__search-image header__search-image--hover"></div><div class="clear">                       </div></div><div class="clear"></div></div></div></div></div><div class="first-screen__info"><div class="wrapper"><div class="first-screen__col1"><h1 class="first-screen__header">Российский производитель композиционных материалов</h1><p class="first-screen__text">Наши материалы используют ведущие предприятия космической отрасли и гражданской авиации России</p><a href="company.html" class="first-screen__link green-button">В раздел о компании</a></div><div class="first-screen__col2"><div id="mainpage-slider" class="slider"><div class="slide"><div style="background-image: url('images/slide-1.jpg')" class="slide__image"></div><div class="slide__textblock"><div class="slide__header">PN-3M</div><div class="slide__text">Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол</div></div></div><div class="slide"><div style="background-image: url('images/slide-1.jpg')" class="slide__image"></div><div class="slide__textblock"><div class="slide__header">PN-3M</div><div class="slide__text">Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол                         </div></div></div><div class="slide"> <div style="background-image: url('images/slide-1.jpg')" class="slide__image"></div><div class="slide__textblock"><div class="slide__header">PN-3M</div><div class="slide__text">Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол</div></div></div></div></div><div class="clear"></div></div></div></div><div class="category"><div class="wrapper"><div class="category__card category__card--binder"><div class="category__header">Связующие</div><ul class="category__ul"><li class="category__li">Полимерные связующие собственной разработки для высокотехнологичных и массовых отраслей</li><li class="category__li">Линия связующих для изготовления оснастки</li></ul><div class="category__temperature"><div class="category__temperature-header">Температура эксплуатации в изделиях:</div><div class="category__temperature-text"> от -100 до +450 ⁰С</div></div><a href="javascript:void(0)" class="category__link"><img src="images/arrow-cat.svg" alt="Подробнее" class="category__link-image"><div class="category__link-text">Подробнее</div></a></div><div class="category__card category__card--fabric"><div class="category__header">Ткани и ленты</div><ul class="category__ul"><li class="category__li">Из углеродного волокна российских и зарубежных производителей</li><li class="category__li">Ткани и ленты с биндером ITECMA не требуют использования клея для временной фиксации.</li></ul><a href="javascript:void(0)" class="category__link"><img src="images/arrow-cat.svg" alt="Подробнее" class="category__link-image"><div class="category__link-text">Подробнее</div></a></div><div class="clear"></div><div class="category__card category__card--glue"><div class="category__header">Клеи и клеевые пленки</div><ul class="category__ul"><li class="category__li">Для склеивания сотовых и композитных конструкций с эффектом вспенивания</li><li class="category__li">Тиксотропный клей не течет и может использоваться для заполнения больших полостей</li></ul><div class="category__temperature"><div class="category__temperature-header">Температура эксплуатации в изделиях:</div><div class="category__temperature-text">от -100 до +250 ⁰С</div></div><a href="javascript:void(0)" class="category__link"><img src="images/arrow-cat.svg" alt="Подробнее" class="category__link-image"><div class="category__link-text">Подробнее </div></a></div><div class="category__card category__card--prepregs"><div class="category__header">Препреги</div><ul class="category__ul"><li class="category__li">На основе углеродных тканей и связующих собственного производства </li></ul><div class="category__temperature"><div class="category__temperature-header">Температура эксплуатации в изделиях:</div><div class="category__temperature-text">от -100 до +250 ⁰С</div></div><a href="javascript:void(0)" class="category__link"><img src="images/arrow-cat.svg" alt="Подробнее" class="category__link-image"><div class="category__link-text">Подробнее</div></a></div><div class="clear"></div></div></div><div class="bottom-block"><div class="wrapper"><div class="services"><div class="services__column-left"><a href="javascript:void(0);" class="services__link"><img src="images/service-1.svg" alt="Техническое сопровождение" class="services__icon"><div class="services__text">Техническое сопровождение</div><div class="clear"></div><img src="images/arrow-green.svg" alt="Стрелка" class="services__arrow"></a></div><div class="services__column-center"><div class="services__line"></div></div><div class="services__column-right"><a href="javascript:void(0);" class="services__link"><img src="images/service-2.svg" alt="Научные разработки" class="services__icon"><div class="services__text">Научные разработки</div><div class="clear"></div><img src="images/arrow-green.svg" alt="Стрелка" class="services__arrow"></a></div><div class="clear"></div></div></div><div class="bottom-block__video-container"><video loop muted autoplay poster="video/video.jpg" class="bottom-block__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><div class="footer"><div class="footer__info footer__into--index"><div class="wrapper"><div class="footer__line"> </div><div class="footer__links-container"><a href="javascript:void(0);" class="footer__link">Главная</a><a href="javascript:void(0);" class="footer__link">О компании</a><a href="javascript:void(0);" class="footer__link">Продукция</a><a href="javascript:void(0);" class="footer__link">Услуги</a><a href="javascript:void(0);" class="footer__link">Библиотека</a><a href="javascript:void(0);" class="footer__link">События</a><a href="javascript:void(0);" class="footer__link">Загрузки</a><a href="javascript:void(0);" class="footer__link">Контакты</a><a href="tel:+74959393592" class="footer__link-phone">+(495) 939-35-92 </a><div class="clear"></div><a href="mailto:inumit@info.ru" class="footer__link-email">inumit@info.ru</a><div class="clear"></div></div><div class="footer__row footer__row--index"><div class="footer__top"><img src="images/top.svg" alt="Наверх" class="footer__top-image footer__top-image-normal"><img src="images/top-hover.svg" alt="Наверх" class="footer__top-image footer__top-image-hover"></div><div class="footer__social"><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--twitter"><img src="images/twitter.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter"><img src="images/twitter-hover.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--facebook"><img src="images/facebook.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook"><img src="images/facebook-hover.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--vk"><img src="images/vk.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk"><img src="images/vk-hover.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--instagram"><img src="images/instagram.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-normal"><img src="images/instagram-hover.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-hover"></a><div class="clear"></div></div><form class="footer__subscribe"><div class="footer__subscribe-text">Подписаться на рассылку</div><input placeholder="E-mail" class="footer__subscribe-input"><button class="footer__subscribe-button">Отправить</button><div class="clear"></div></form><div class="footer__column-right"><div class="footer__copyright">© 2016 Itecma все права защищены</div><div class="footer__netlab">Разработка сайта <a href="javascript:void(0);" class="footer__netlab-link">Netlab</a></div></div><div class="clear"></div></div></div></div></div></div><script src="js/index.js"></script></body></html>

app/jade/index.jade
doctype html
html
    head
        title ITECMA
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/index.jpg" alt="index" style="position: absolute; margin-left: 102px; top: 0; z-index: 1; opacity: .5;")
        //img(src="images/consult.jpg" alt="index" style="position: absolute; margin-left: 194px; top: -53px; z-index: 1; opacity: .5;")
 
        include includes/consultation
        include includes/black-bg
        
        div.first-screen
            div.first-screen__video-container
                video.first-screen__video(loop muted autoplay poster="video/video.jpg")
                    source(src="video/video.webm" type="video/webm")
                    source(src="video/video.mp4" type="video/mp4")
            
            include includes/header  
                    
            div.first-screen__info
                div.wrapper
                    div.first-screen__col1
                        h1.first-screen__header Российский производитель композиционных материалов
                        p.first-screen__text Наши материалы используют ведущие предприятия космической отрасли и гражданской авиации России
                        a.first-screen__link.green-button(href="company.html") В раздел о компании
                    div.first-screen__col2
                        div.slider(id="mainpage-slider")
                            div.slide
                                div.slide__image(style="background-image: url('images/slide-1.jpg')")
                                div.slide__textblock
                                    div.slide__header PN-3M
                                    div.slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол
                            div.slide
                                div.slide__image(style="background-image: url('images/slide-1.jpg')")
                                div.slide__textblock
                                    div.slide__header PN-3M
                                    div.slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол                         
                            div.slide 
                                div.slide__image(style="background-image: url('images/slide-1.jpg')")
                                div.slide__textblock
                                    div.slide__header PN-3M
                                    div.slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол
                            
                    div.clear
            
        div.category
            div.wrapper
                div.category__card.category__card--binder
                    div.category__header Связующие
                    ul.category__ul
                        li.category__li Полимерные связующие собственной разработки для высокотехнологичных и массовых отраслей
                        li.category__li Линия связующих для изготовления оснастки
                    div.category__temperature
                        div.category__temperature-header Температура эксплуатации в изделиях:
                        div.category__temperature-text  от -100 до +450 ⁰С
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее
                        
                div.category__card.category__card--fabric
                    div.category__header Ткани и ленты
                    ul.category__ul
                        li.category__li Из углеродного волокна российских и зарубежных производителей
                        li.category__li Ткани и ленты с биндером ITECMA не требуют использования клея для временной фиксации.
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее
                div.clear
                
                div.category__card.category__card--glue
                    div.category__header Клеи и клеевые пленки
                    ul.category__ul
                        li.category__li Для склеивания сотовых и композитных конструкций с эффектом вспенивания
                        li.category__li Тиксотропный клей не течет и может использоваться для заполнения больших полостей
                    div.category__temperature
                        div.category__temperature-header Температура эксплуатации в изделиях:
                        div.category__temperature-text от -100 до +250 ⁰С
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее 
                        
                div.category__card.category__card--prepregs
                    div.category__header Препреги
                    ul.category__ul
                        li.category__li На основе углеродных тканей и связующих собственного производства 
                    div.category__temperature
                        div.category__temperature-header Температура эксплуатации в изделиях:
                        div.category__temperature-text от -100 до +250 ⁰С
                    a.category__link(href="javascript:void(0)")
                        img.category__link-image(src="images/arrow-cat.svg" alt="Подробнее")
                        div.category__link-text Подробнее
                div.clear
        
        div.bottom-block
            div.wrapper
                div.services
                    div.services__column-left
                        a.services__link(href="javascript:void(0);")
                            img.services__icon(src="images/service-1.svg" alt="Техническое сопровождение")
                            div.services__text Техническое сопровождение
                            div.clear
                            img.services__arrow(src="images/arrow-green.svg" alt="Стрелка")
                    div.services__column-center
                        div.services__line
                    div.services__column-right
                        a.services__link(href="javascript:void(0);")
                            img.services__icon(src="images/service-2.svg" alt="Научные разработки")
                            div.services__text Научные разработки
                            div.clear
                            img.services__arrow(src="images/arrow-green.svg" alt="Стрелка") 
                    div.clear
            div.bottom-block__video-container
                video.bottom-block__video(loop muted autoplay poster="video/video.jpg")
                    source(src="video/video.webm" type="video/webm")
                    source(src="video/video.mp4" type="video/mp4")
            include includes/footer-index

        script(src="js/index.js")
