app/jade/news.jade
doctype html
html
    head
        title ITECMA | СтатьяНовостьЗаметка
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/company.css")
        link(rel="stylesheet", href="css/news.css")
        script(src="js/libs.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    body
    
        //img(src="images/news.jpg" alt="index" style="position: absolute; margin-left: 146px; top: 0; z-index: 1; opacity: .5;") 
        
        include includes/header 
        include includes/header-video
        include includes/right-bg-doodle

        div.main-block
            div.main-block__column-left.main-block__column
                div.main-block__content                
                    div.news__breadcrumbs Главная - Новости - Название новости
                    h1.news__h1 Институт создан на базе кафедры химических технологий и новых материалов МГУ им. М.В.Ломоносова 
                    div.news__date 30 апрель 2017
                    div.news__content
                        img(src="images/news-image.jpg" alt="картинка")
                        div.news__social
                            a.news__social-icon.news__social-icon--twitter(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--twitter(src="images/twitter-normal.svg" alt="твиттер")
                                img.news__social-icon-image.news__social-icon-image--twitter-hover(src="images/twitter-hover.svg" alt="твиттер")
                            a.news__social-icon.news__social-icon--facebook(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--facebook(src="images/facebook-normal.svg" alt="фейсбук")
                                img.news__social-icon-image.news__social-icon-image--facebook-hover(src="images/facebook-hover.svg" alt="фейсбук")
                            a.news__social-icon.news__social-icon--vk(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--vk(src="images/vk-normal.svg" alt="вконтакте")
                                img.news__social-icon-image.news__social-icon-image--vk-hover(src="images/vk-hover.svg" alt="вконтакте")
                            a.news__social-icon.news__social-icon--instagram(href="javascript:void(0);")
                                img.news__social-icon-image.news__social-icon-image--instagram-normal(src="images/instagram-normal.svg" alt="инстаграм")
                                img.news__social-icon-image.news__social-icon-image--instagram-hover(src="images/instagram-hover.svg" alt="инстаграм") 
                            div.clear
                        p.news__p ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                        p.news__p Институт одним из первых в России реализует на практике идею партнерства крупнейшего научно-образовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами. 
                div.clear
            div.main-block__column-right.main-block__column
                div.right-menu
                    div.right-menu__header Читайте так же
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Наш институт обладает необходимыми компетенциями в поставке
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Космо-станция «Sолярис» — это самое необычное воплощение космоса
                    div.right-menu__news
                        div.right-menu__news-date 17 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Остров папуасов и райских птиц
                    div.right-menu__news
                        div.right-menu__news-date 12 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Наш институт обладает необходимыми компетенциями в поставке
                    div.right-menu__news
                        div.right-menu__news-date 17 апрель 2017
                        a.right-menu__news-link(href="javascript:void(0);") Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                    div.right-menu__go-to
                        a.right-menu__go-to-link Перейти в раздел
                        div.clear
            div.clear
            
        include includes/footer-video
            
        

        script(src="js/index.js")

app/news.html
<!DOCTYPE html><html><head><title>ITECMA | СтатьяНовостьЗаметка</title><meta name="description" content=""><meta name="keywords" content=""><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/company.css"><link rel="stylesheet" href="css/news.css"><script src="js/libs.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script></head><body><!--img(src="images/news.jpg" alt="index" style="position: absolute; margin-left: 146px; top: 0; z-index: 1; opacity: .5;") --><div class="header__main-container"><div class="wrapper wrapper--header-main-container"><div class="header-logo"><a href="index.html" class="header__logo"><img src="images/logo.png" alt="logo"></a></div><div class="header"><div class="wrapper">       <div class="header__menu-container"><div class="header__menu"><div class="header__menu-block-container"></div><div class="header__menu-hamburger"><div class="header__menu-hamburger-line header__menu-hamburger-line--1"></div><div class="header__menu-hamburger-line header__menu-hamburger-line--2"></div><div class="header__menu-hamburger-line"></div></div><div class="header__menu-text">Меню </div></div><div class="header__guide">Путеводитель по материалам</div><div class="header__phone"><img src="images/phone.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--normal"><img src="images/phone-hover.svg" alt="Проконсультироваться" class="header__phone-image header__phone-image--hover"></div><div class="header__search"><img src="images/search.svg" alt="Поиск" class="header__search-image header__search-image--normal"><img src="images/search-hover.svg" alt="Поиск" class="header__search-image header__search-image--hover"></div><div class="clear">                       </div></div><div class="clear"></div></div></div></div></div><div class="header-video"><video loop muted autoplay poster="video/video.jpg" class="header-video__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><div class="right-bg-doodle"></div><div class="main-block"><div class="main-block__column-left main-block__column"><div class="main-block__content">               <div class="news__breadcrumbs">Главная - Новости - Название новости</div><h1 class="news__h1">Институт создан на базе кафедры химических технологий и новых материалов МГУ им. М.В.Ломоносова </h1><div class="news__date">30 апрель 2017</div><div class="news__content"><img src="images/news-image.jpg" alt="картинка"><div class="news__social"><a href="javascript:void(0);" class="news__social-icon news__social-icon--twitter"><img src="images/twitter-normal.svg" alt="твиттер" class="news__social-icon-image news__social-icon-image--twitter"><img src="images/twitter-hover.svg" alt="твиттер" class="news__social-icon-image news__social-icon-image--twitter-hover"></a><a href="javascript:void(0);" class="news__social-icon news__social-icon--facebook"><img src="images/facebook-normal.svg" alt="фейсбук" class="news__social-icon-image news__social-icon-image--facebook"><img src="images/facebook-hover.svg" alt="фейсбук" class="news__social-icon-image news__social-icon-image--facebook-hover"></a><a href="javascript:void(0);" class="news__social-icon news__social-icon--vk"><img src="images/vk-normal.svg" alt="вконтакте" class="news__social-icon-image news__social-icon-image--vk"><img src="images/vk-hover.svg" alt="вконтакте" class="news__social-icon-image news__social-icon-image--vk-hover"></a><a href="javascript:void(0);" class="news__social-icon news__social-icon--instagram"><img src="images/instagram-normal.svg" alt="инстаграм" class="news__social-icon-image news__social-icon-image--instagram-normal"><img src="images/instagram-hover.svg" alt="инстаграм" class="news__social-icon-image news__social-icon-image--instagram-hover"></a><div class="clear"></div></div><p class="news__p">ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.</p><p class="news__p">Институт одним из первых в России реализует на практике идею партнерства крупнейшего научно-образовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами. </p></div></div><div class="clear"></div></div><div class="main-block__column-right main-block__column"><div class="right-menu"><div class="right-menu__header">Читайте так же</div><div class="right-menu__news"><div class="right-menu__news-date">12 апрель 2017</div><a href="javascript:void(0);" class="right-menu__news-link">Наш институт обладает необходимыми компетенциями в поставке</a></div><div class="right-menu__news"><div class="right-menu__news-date">12 апрель 2017</div><a href="javascript:void(0);" class="right-menu__news-link">Космо-станция «Sолярис» — это самое необычное воплощение космоса</a></div><div class="right-menu__news"><div class="right-menu__news-date">17 апрель 2017</div><a href="javascript:void(0);" class="right-menu__news-link">Открытые научно-популярные лекции академиков и членов-корреспондентов РАН</a></div><div class="right-menu__news"><div class="right-menu__news-date">12 апрель 2017</div><a href="javascript:void(0);" class="right-menu__news-link">Остров папуасов и райских птиц</a></div><div class="right-menu__news"><div class="right-menu__news-date">12 апрель 2017</div><a href="javascript:void(0);" class="right-menu__news-link">Наш институт обладает необходимыми компетенциями в поставке</a></div><div class="right-menu__news"><div class="right-menu__news-date">17 апрель 2017</div><a href="javascript:void(0);" class="right-menu__news-link">Открытые научно-популярные лекции академиков и членов-корреспондентов РАН</a></div><div class="right-menu__go-to"><a class="right-menu__go-to-link">Перейти в раздел</a><div class="clear"></div></div></div></div><div class="clear"></div></div><div class="footer"><div class="footer__info"><div class="wrapper"><div class="footer__links-container"><a href="javascript:void(0);" class="footer__link">Главная</a><a href="javascript:void(0);" class="footer__link">О компании</a><a href="javascript:void(0);" class="footer__link">Продукция</a><a href="javascript:void(0);" class="footer__link">Услуги</a><a href="javascript:void(0);" class="footer__link">Библиотека</a><a href="javascript:void(0);" class="footer__link">События</a><a href="javascript:void(0);" class="footer__link">Загрузки</a><a href="javascript:void(0);" class="footer__link">Контакты</a><a href="tel:+74959393592" class="footer__link-phone">+(495) 939-35-92 </a><div class="clear"></div><a href="mailto:inumit@info.ru" class="footer__link-email">inumit@info.ru</a><div class="clear"></div></div><div class="footer__row"><div class="footer__top"><img src="images/top.svg" alt="Наверх" class="footer__top-image footer__top-image-normal"><img src="images/top-hover.svg" alt="Наверх" class="footer__top-image footer__top-image-hover"></div><div class="footer__social"><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--twitter"><img src="images/twitter.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter"><img src="images/twitter-hover.svg" alt="твиттер" class="footer__social-icon-image footer__social-icon-image--twitter-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--facebook"><img src="images/facebook.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook"><img src="images/facebook-hover.svg" alt="фейсбук" class="footer__social-icon-image footer__social-icon-image--facebook-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--vk"><img src="images/vk.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk"><img src="images/vk-hover.svg" alt="вконтакте" class="footer__social-icon-image footer__social-icon-image--vk-hover"></a><a href="javascript:void(0);" class="footer__social-icon footer__social-icon--instagram"><img src="images/instagram.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-normal"><img src="images/instagram-hover.svg" alt="инстаграм" class="footer__social-icon-image footer__social-icon-image--instagram-hover"></a><div class="clear"></div></div><form class="footer__subscribe"><div class="footer__subscribe-text">Подписаться на рассылку</div><input placeholder="E-mail" class="footer__subscribe-input"><button class="footer__subscribe-button">Отправить</button><div class="clear"></div></form><div class="footer__column-right"><div class="footer__copyright">© 2016 Itecma все права защищены</div><div class="footer__netlab">Разработка сайта <a href="javascript:void(0);" class="footer__netlab-link">Netlab</a></div></div><div class="clear"></div></div></div></div><video loop muted autoplay poster="video/video.jpg" class="footer__video"><source src="video/video.webm" type="video/webm"><source src="video/video.mp4" type="video/mp4"></video></div><script src="js/index.js"></script></body></html>
